.jsfuck-container code {
    padding: 1px 4px;
}

.jsfuck-container input:checked ~ .checkmark {
    background-color: rgb(141, 59, 114);
}

.jsfuck-container .checkmark:after {
    border-color: rgba(0, 0, 0, 0.6);
}

.jsfuck-container button,
.jsfuck-container .tooltipcopy {    
    background-color: rgb(141, 59, 114);
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
}

.jsfuck-container .tooltipcopy::after {
    border-top-color: rgb(141, 59, 114);
}

.jsfuck-container {
    text-align: left;
}

.jsfuck-container .compiler {
    width: 65%;
    float: left;
}

.jsfuck-container .compiler .checkbox {
    float: right;
}

.jsfuck-container .compiler .result-container {
    position: relative;
    margin: 1em 0;
}

.jsfuck-container .compiler .result-container .result {
    width: 99%;
    height: 150px;
    resize: none;
    cursor: pointer;
    display: block;
}

.jsfuck-container .compiler .result-container .clear {
    display: block;
    width: 100%;
}

.jsfuck-container .examples {
    padding-left: 2px;
    width: 34%;
    float: right;
}

.jsfuck-container .examples .examples-title {
    margin: auto;
}