.introduction {
    background: #ffff00;
}

.intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

.tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    width: 120px;
    margin-left: 45%;
    margin-top: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}