.introduction {
    background: #ffff00;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.introduction-container {
    flex: 1 0 auto;
    padding: 3.25rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

.tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    margin-top: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}