.App {
  background: #ffff00;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: center; */
  text-align: center;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    width: 120px;
    margin-left: 45%;
    margin-top: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}