.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  padding: 0.25rem 0.625rem;
  color: black;
  font-size: 3rem;
}

.social-icons a.devto svg {
  margin-bottom: -0.25rem;
  width: 2.7rem;
  height: 2.7rem;
}

.social-icons.animate-icons a {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.social-icons.animate-icons a:hover, 
.social-icons.animate-icons a:focus, 
.social-icons.animate-icons a:active {
  animation: icon-wobble 1 0.75s ease-in-out;
}

@keyframes icon-wobble {
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}